@import url(./reset.css);
@import url(./vars.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  color: var(--main-text-color);
  font-size: var(--main-font-size);
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  text-align: left;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*header*/
.header {
  justify-content: start;
  padding: 24px 0;
  margin-bottom: 30px;
}

.logo {
  gap: 12px;
  margin-right: 320px;
}

.logo__link, .nav__link, .button__link, .video__link {
  text-decoration: none;
}

.logo__img {
  max-width: 30px;
}

.logo__text {
  color: var(--logo-text-color);
  font-size: 28px;
  font-weight: 800;
}

.nav__list {
  gap: 27px;
  margin-right: 48px;
}

.nav__link {
  color: var(--title-text-color);
  line-height: 28px;
  font-size: var(--nav-font-size);
  transition: all 0.3s ease;
}

.nav__link:hover {
  color: var(--button-bg-color);
}

.buttons-auth {
  gap: 14px;
}

.button {
  height: 46px;
  border-radius: 4px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.button-sign-in {
  width: 102px;
  border: 1px solid var(--button-border-color);
  background-color: var(--button-text-color);
}

.button-sign-up, .button-section {
  width: 110px;
  border: none;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

.button-sign-in:hover {
  background-color: var(--button-border-color);
  color: var(--button-text-color);
}

.button-sign-up:hover, .button-section:hover {
  border: 1px solid var(--button-bg-color);
  background-color: var(--button-text-color);
  color: var(--title-text-color);
}

/*hero-section*/
.hero-section {
  margin-bottom: 110px;
}

.hero-section .section__title {
  font-size: var(--main-title-font-size);
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 54px;
  margin-bottom: 30px;
}

.hero-section .section__text {
  font-size: var(--main-text-font-size);
  line-height: 28px;
  margin-bottom: 55px;
}

.button-section {
  height: 53px;
  width: 175px;
}

.video__link {
  color: var(--button-bg-color);
  font-weight: 600;
  transition: all 0.3s ease;
  margin-left: 30px;
}

.video__icon {
  max-width: 20px;
  margin-right: 9px;
}

.video__text {
  border-bottom: 1px solid var(--button-bg-color);
}

/*feature-section*/
.feature-section {
  text-align: center;
  margin-bottom: 210px;
}

.section__title {
  font-size: var(--section-title-font-size);
  font-weight: 700;
  line-height: normal;
}

.feature-section .section__title {
  margin-bottom: 54px;
}

.items {
  align-items: start;
  text-align: left;
  margin-bottom: 34px;
}

.item {
  max-width: 240px;
}

.item__img {
  max-width: 50px;
  margin-bottom: 30px;
}

.feature-section .section__subtitle {
  font-size: var(--section-subtitle-font-size);
  font-weight: 600;
}

.feature-section .section__subtitle {
  margin-bottom: 15px;
}

.section__text {
  line-height: 26px;
}

/*effortless-section*/
.effortless-section {
  margin-bottom: 101px;
}

.effortless-section .section__title,
.marketers-section .section__title {
  margin-bottom: 22px;
}

.section__subtitle {
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 12px;
}

.article {
  margin-top: 25px;
}

.section__text + .article {
  margin-top: 30px;
}

/*product-managers-section*/
.product-managers-section {
  margin-bottom: 104px;
}

.product-managers-section .section__title {
  margin-bottom: 22px;
}

.list__item {
  justify-content: start;
  gap: 30px;
  margin-top: 30px;
}

.tick {
  max-width: 35px;
}
